name: CI/CD Deploy

on:
  push:
    branches:
      - test
      - prod

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to VM
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            if [ "${GITHUB_REF}" == "refs/heads/test" ]; then
              DIR="/root/respo/orbitpbn-test"
              BRANCH="test"
            else
              DIR="/root/respo/orbitpbn-prod"
              BRANCH="prod"
            fi

            mkdir -p $DIR
            cd $DIR

            # Initialize repo if first time
            if [ ! -d ".git" ]; then
              git clone -b $BRANCH git@github.com:<your-org>/<your-repo>.git .
            else
              git fetch origin $BRANCH
              git reset --hard origin/$BRANCH
            fi

            pm2 restart orbitpbn-$BRANCH